* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-start);
  color: var(--color-text);
  line-height: 1.6;
  padding: 2rem;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
    text-align: center;
}

p {
  color: var(--color-text);
  font-size: 1.1rem;
}

img {
  max-width: 100%;
  border-radius: var(--radius-md);
}

.subtitle {
  font-size: 1.4rem;
  color: var(--color-text-dim);
}

.subtitle-d {
  font-size: 1.4rem;
  color: var(--color-text-dim-s);
}

main {
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
}

.text-story {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 70ch;
  margin: 0 auto;
}

.text-story-w {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 70ch;
  margin: 0 auto;
  color: white
}