* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-start);
  color: var(--color-text);
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
    text-align: center;
}

p {
  color: var(--color-text);
  font-size: 1.1rem;
}

img {
  max-width: 100%;
  border-radius: var(--radius-md);
}